body {
    background-image: url("res/img/janexbg.png");
    background-repeat: no-repeat;
  }

.navbar {
  height:58px;
  background-color: rgba(247, 134, 43, 0.1);
}

.janexlogo {
  margin-top:-5px;
}

.nav-tab{
  margin-left:200px;
}

.move {
  margin-top:13px;
  margin-left:25px;
  width:20px;
  height:20px;
  color:#C0392B;
}

.current {
  margin-top:13px;
  margin-left:32px;
  width:20px;
  height:20px;
}

.current2 {
 color:black;
}

.contactusmove {
    margin-top:13px;
    margin-left:22px;
    width:20px;
    height:20px;
    color:#C0392B;   
}

.homemove {
  margin-top:13px;
  margin-left:22px;
  width:20px;
  height:20px;
  color:#C0392B;
}

.faqmove {
  margin-top:13px;
  margin-left:12px;
  width:20px;
  height:20px;
  color:#C0392B;
}

.nav-item :hover > * {
  color:white;
}

.hov {
  color:#C0392B;
}
.hov :hover >* {
  color:white;
}


