body {
    background-image: url("res/img/janexbg.png");
    background-repeat: no-repeat;
  }

.navbar {
  height:58px;
  background-color: rgba(105, 105, 105, 0.1);
}

.card-title {
  color: #2C3E50;
  font-size : 16px;
  padding : 0;
  margin : 0;
  line-height : 15px;
}

.card {
  width:1015px;
}

.nav-qna {
  width:1015px;
  height:200px;
}

.card-text {
  color:darkgray;
  font-size : 14px;
  line-height:0px;
}

.janexlogo {
  margin-top:-5px;
}

.nav-tab{
  margin-left:200px;
}

.move {
  margin-top:13px;
  margin-left:25px;
  width:20px;
  height:20px;
  color:#C0392B;
}

.current {
  color:black;
  margin-top:13px;
  margin-left:9px;
  width:20px;
  height:20px;
}

.current2 {
 color:black;
}

.homemove {
  margin-top:13px;
  margin-left:22px;
  width:20px;
  height:20px;
  color:#C0392B;
}

.ongkirmove {
  margin-top:13px;
  margin-left:32px;
  width:20px;
  height:20px;
  color:#C0392B;
}

.nav-item :hover > * {
  color:white;
}

.hov {
  color:#C0392B;
}
.hov :hover >* {
  color:white;
}


