body{
  background-image: url(img/janexbg.png);
}

.table{
  background-color:white;
}

.cek-resi{
  font-size: 1.5cm;
  color: #030303;
  text-align: center;
}

.alert {
    text-align: center;
    padding: 20px;
    background-color: #830900; 
    color: white;
    margin-bottom: 15px;
    display: none;
    opacity: 80%;
}
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }

  #loading{
    display: none;
  }