<%- include('layout/header', {title : "Jan-Express Not Found"}) %>
<div style="text-align: center; padding-top: 2cm;">
    <h1>
        <i data-feather="frown" style="width: 3cm; height: 3cm;"></i>
        <br>
        <br>
        404 : Can't find anything on server
    </h1>
</div>

<%- include('layout/footer') %>