<!DOCTYPE html>
<html>
<header>
    <title>Login</title>
</header>

<body>
    <form id="login" name="login" method="post" action="/login">
        <label for="username">username</label>
        <input class="text" name="username" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <input class="btn" type="submit" value="Login" />
    </form>
</body>

</html>