<%- include('layout/header', {title : "Cek Ongkir"}) %>
    <form id="register" name="register" method="post" action="/register">
        <label for="username">Username</label>
        <input class="text" name="username" type="text" required/><br>
        <label for="password">Password</label>
        <input name="password" type="password" required/><br>
        <label for="email">Email Address</label>
        <input class="text" name="email" type="email" required/><br>
        <label for="nama_depan">Nama Depan</label>
        <input class="text" name="nama_depan" type="text" required/><br>
        <label for="nama_belakang">Nama Belakang</label>
        <input class="text" name="nama_belakang" type="text" /><br>
        <input class="btn" type="submit" value="Register" />
    </form>
    <% if (locals.message) { %>
        <h2><%= message %></h2>
    <% } %>
<%- include('layout/footer') %>