<!DOCTYPE html>
<html>
    <header>
        <title>Login</title>
    </header>
    <body>
        <form id="register" name="register" method="post" action="/register">
            <label for="username">Username</label>
            <input class="text" name="username" type="text" />
            <label for="password">Password</label>
            <input name="password" type="password" />
            <label for="email">Email Address</label>
            <input class="text" name="email" type="email" />            
            <input class="btn" type="submit" value="Register" />
        </form>
    </body>
</html>