<!DOCTYPE html>
<html lang="en" style="min-height: 100%;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Jan-Express</title>
    <link rel="shortcut icon" href="../img/janexlogo.png">
    <!-- icons -->
    <script src="https://kit.fontawesome.com/59c5174634.js" crossorigin="anonymous"></script>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    
    <style>
        .register-form {
            text-align: center;
            align-content: center;
            background: rgb(159, 65, 69);
            width: auto;
            height: auto;
            padding: 0.5cm;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 20px;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        }

        ::placeholder {
            color: rgb(235, 173, 173);
        }

        input {
            background-color: rgb(159, 65, 69);
            border-radius: 10px;
            border: solid 2px rgb(183, 86, 99);
            height: 1cm;
            color: white;
            width: 7cm;
        }

        i,
        p {
            color: rgb(196, 152, 158);
        }

        button {
            width: 2.5cm;
            padding: 0.2cm;
            background-color: rgb(183, 86, 99);
            border: none;
            border-radius: 10px;
            color: rgb(250, 218, 218);
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        }

        button.sign-up {
            border: none;
            background-color: rgb(159, 65, 69);
            color: rgb(224, 176, 183);
        }
        
        .input-group ::placeholder {
            color: rgb(235, 173, 173);
        }

        .input-group input {
            background-color: rgb(159, 65, 69);
            border-radius: 10px;
            border: solid 2px rgb(183, 86, 99);
            height: 1cm;
            color: white;
        }

        .input-group input:focus {
            background-color: rgb(159, 65, 69);
            border-radius: 10px;
            border: solid 2px rgb(255, 185, 194);
            height: 1cm;
            color: white;
        }
        
    </style>
</head>

<body style="background: rgb(33, 31, 43, 0.8); min-height: 100%; overflow: hidden;">
    <div>
        <img src="img/kurir.jpg" alt="" style="min-width: 100vw; min-height: 100vh; opacity: 0.4; position: fixed; right: -35%;">
        <form id="register" name="register" method="post" action="<%= locals.current_path %>">
            <div class="register-form">
                <h2 style="color:  rgb(230, 210, 213);">Sign up</h2>
                <hr>
                <div class="input-group" style="padding-bottom: 0.4cm;">
                    <input type="text" name="nama_depan" id="first-name" class="form-control" placeholder="First name *" required style="margin-left: 1cm;">
                    <input type="text" name="nama_belakang" class="form-control" placeholder="Last name" style="margin-right: 1cm;">
                </div>
                <div class="email">
                    <i class="fas fa-envelope" style="padding-right: 0.3cm;"></i>
                    <input type="email" name="email" id="register-email" placeholder="Email *" required>
                </div>
                <div class="username" style=" padding-top: 0.4cm;">
                    <i class="fas fa-user" style="padding-right: 0.3cm;"></i>
                    <input type="text" name="username" id="register-username" placeholder="Username *" required>
                </div>
                <div class="password" style="padding-top: 0.4cm;">
                    <i class="fas fa-lock" style="padding-right: 0.3cm;"></i>
                    <input type="password" name="password" id="register-password" placeholder="Password *" required>
                </div>
                <div class="password" id="pass-validator" style="padding-top: 0.4cm; padding-bottom: 0.4cm; padding-left: 0cm;">
                    <i class="fas fa-lock" style="padding-right: 0.3cm;"></i>
                    <input type="password" name="passValidation" id="register-password-validate" placeholder="Confirm Password *" required><br>
                    <i class="fas fa-exclamation-triangle" id="mark" style="padding-left: 0.2cm; color: yellow; display: none;">
                        <span id="warn-pw" style="display: none;">Password tidak sama</span>
                        <span id="warn-empty" style="display: none;">Tolong isi semua data yang diperlukan</span>
                        <span id="warn-tos" style="display: none;">Tolong menerima syarat dan ketentuan</span>
                    </i>
                    <% if (locals.message) { %>
                        <i class="fas fa-exclamation-triangle" id="mark" style="padding-left: 0.2cm; color: yellow;">
                        <span id="warn-pw"><%= message %></span>
                        </i>
                    <% } %>            
                </div>
                <div class="custom-control custom-checkbox" style="padding-bottom: 0.4cm;">
                    <input type="checkbox" class="custom-control-input" id="tos" required="true">
                    <label class="custom-control-label" for="tos"><b style="color: rgb(196, 152, 158)">Accept Terms
                            and Agreements</b></label>
                </div>
                <a href="./"><button style="margin-right: 0.5cm;" type="button"><b>Back</b></button></a>
                <button id="registerbutton" type="button"><b>Register</b></button>
                <p style="font-size: small; padding-top: 0.3cm;">Already have an account?
                    <span>
                        <a href="./login"><button class="sign-up" type="button" style="width: fit-content;"><b> Login</b></button></a>
                    </span>
                </p>
            </div>
        </form>
    </div>
    <script>
        function validate() {
            var firstname = document.getElementById("first-name").value;
            var email = document.getElementById("register-email").value;
            var pass = document.getElementById("register-password").value;
            var passValidate = document.getElementById("register-password-validate").value;
            var load = document.getElementById("pass-validator");
            var warning = document.getElementById("mark");
            var warnPW = document.getElementById("warn-pw");
            var warnempty = document.getElementById("warn-empty");
            var warntos = document.getElementById("warn-tos");

            warning.style.display = "none";
            warnPW.style.display = "none";
            warnempty.style.display = "none";
            warntos.style.display = "none";

            if(pass == "" || firstname == "" || email == ""){
                warning.style.display = "inline-block";
                warnempty.style.display = "inline-block";
            }
            else if (pass != passValidate) {
                load.style.paddingLeft = '0.0cm';
                warning.style.display = "inline-block";
                warnPW.style.display = "inline-block";
            }
            else if (!document.getElementById("tos").checked) {
                warning.style.display = "inline-block";
                warntos.style.display = "inline-block";
            }
            else {
                load.style.paddingLeft = '0cm';

                document.getElementById("register").submit();
            }
        }

        document.getElementById("registerbutton").addEventListener("click", validate);
    </script>
</body>

</html>