body {
    background-image: url("res/img/janexbg.png");
    background-repeat: no-repeat;
  }

.navbar {
  height:58px;
  background-color: rgba(105, 105, 105, 0.1);
}

.janexlogo {
  margin-top:-5px;
}

.splitscreen {
  display:flex;
}
.splitscreen .left {
    flex:0;
}
.splitscreen .right {
    flex:0;
    margin-left:190px;
}

.map {
  margin-left:225px;
}

.logoline {
  margin-left: 7px;
}


.headoffice {
  padding : 0;
  margin : 0;
  line-height : 20px;
}

.alamat1 {
  color:#566573;
}

.alamat2 {
  color:#566573;
}

.nav-tab{
  margin-left:200px;
}

.move {
  margin-top:13px;
  margin-left:25px;
  width:20px;
  height:20px;
  color:#C0392B;
}

.current {
  margin-top:13px;
  margin-left:25px;
  width:20px;
  height:20px;
}

.current2 {
 color:black;
}

.homemove {
  margin-top:13px;
  margin-left:22px;
  width:20px;
  height:20px;
  color:#C0392B;
}

.ongkirmove {
  margin-top:13px;
  margin-left:32px;
  width:20px;
  height:20px;
  color:#C0392B;
}

.faqmove {
  margin-top:13px;
  margin-left:9px;
  width:20px;
  height:20px;
  color:#C0392B;
}

.nav-item :hover > * {
  color:white;
}

.hov {
  color:#C0392B;
}
.hov :hover >* {
  color:white;
}


