<!DOCTYPE HTML>
<html>
  <head>
    <!--Jangan lupa ganti nama template-->
    <title><%= title %></title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-light fixed-top bg-light navbar-expand shadow">
      <div class="collapse navbar-collapse">
        <a class="navbar-brand" href="#">
          <img src="../img/janexlogo.png" width="30" height="30" alt="">
        </a>
        <ul class="navbar-nav">
          <!--
          Jangan lupa kasih class active ke page kalian yang aktif di tag li
          Contoh: class=<li class="nav-item active">
          -->
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/status">Cek Resi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ongkir">Cek Ongkir</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/faq">Q&amp;A</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pickup">pickup</a>
          </li>
          <% if (!locals.user) { %>
            <li class="nav-item">
              <a class="nav-link" href="/register">register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">login</a>
            </li>
          <% } else { %>
            <% if (locals.user['user_type'] in [0, 1]) { %>
              <li class="nav-item">
                <a class="nav-link" href="/dashboard">dashboard</a>
              </li>
            <% } %>
            <% if (locals.user['user_type'] == 0) { %>
              <li class="nav-item">
                <a class="nav-link" href="/admin">admin</a>
              </li>
            <% } %>
            <li class="nav-item">
              <a class="nav-link" href="/profile">profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">logout</a>
            </li>
          <% } %>
        </ul>
      </div>
    </nav>
    <div style="margin-top: 50px;">
      <!-- Masukin isi html kalian disini -->